<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
 
    <event name="customer_login">
        <observer name="nishu_customer_login" instance="Nishu\HelloWorld\Observer\CommonEventObserver"/>
    </event>
 
    <event name="checkout_cart_product_add_after">
        <observer name="nishu_add_to_cart" instance="Nishu\HelloWorld\Observer\CommonEventObserver"/>
    </event>
 
    <event name="sales_order_place_after">
        <observer name="nishu_order_placed" instance="Nishu\HelloWorld\Observer\CommonEventObserver"/>
    </event>
 
</config>